body { min-width: 357px; overflow-x: hidden; }
#content { width:100%; border:2px solid black; }
#links { width:100%; height:10em; }
.c button { min-width:20%; min-height:2em; display:inline-block; margin:1em; }
a { text-decoration: none; }
